template: page
--
<h1>Minimal!</h1>
<p>
  This is a minimal example the template contains just a simple file. In the
  content files the only absolutely required variable at the top is
  <em>template</em>. This tells bloatgen which template to use to render this
  content.
</p>
